<html>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <a class="waves-effect waves-light btn-large pink" onclick=" vertGer(); ">Submit</a>
  <div class="container">
  	<table>
  <tr>
  	<th>Skill and Range</th>
    <th>Insert the average age of new appointments</th>
    <th>Insert the amount of new appointments</th>
    <th>Insert the time period you want to consider</th>
    <th>Insert the average age of company leavings</th>
    <th>Insert the amount of company leavings</th>
  </tr>
  <tr>
  	<td>Corporate Functions <br> min. 24, max. 60 numberrange = </td>
    <td><input type="text" id="1"></td>
    <td><input type="text" id="2"></td>
    <td><input type="text" id="3"></td>
    <td><input type="text" id="4"></td>
    <td><input type="text" id="5"></td>
   </tr>
     <tr>
    <td>Finance & Controlling</td>
    <td><input type="text" id="6"></td>
    <td><input type="text" id="7"></td>
    <td><input type="text" disabled="disabled" id="8"></td>
    <td><input type="text" id="9"></td>
    <td><input type="text" id="10"></td>
   </tr>
     <tr>
     	<td>Human Resources</td>
    <td><input type="text" id="11"></td>
    <td><input type="text" id="12"></td>
    <td><input type="text" disabled="disabled" id="13"></td>
    <td><input type="text" id="14"></td>
    <td><input type="text" id="15"></td>
   </tr>
     <tr>
     	<td>Information-& Communication Technology</td>
    <td><input type="text" id="16"></td>
    <td><input type="text" id="17"></td>
    <td><input type="text" disabled="disabled" id="18"></td>
    <td><input type="text" id="19"></td>
    <td><input type="text" id="20"></td>
   </tr>
     <tr>
     	<td>Research & Product Development</td>
    <td><input type="text" id="21"></td>
    <td><input type="text" id="22"></td>
    <td><input type="text" disabled="disabled" id="23"></td>
    <td><input type="text" id="24"></td>
    <td><input type="text" id="25"></td>
   </tr>
     <tr>
     	<td>Sales & Customer Service</td>
    <td><input type="text" id="26"></td>
    <td><input type="text" id="27"></td>
    <td><input type="text" disabled="disabled" id="28"></td>
    <td><input type="text" id="29"></td>
    <td><input type="text" id="30"></td>
   </tr>
     <tr>
     	<td>Technology and Networks</td>
    <td><input type="text" id="31"></td>
    <td><input type="text" id="32"></td>
    <td><input type="text" disabled="disabled" id="33"></td>
    <td><input type="text" id="34"></td>
    <td><input type="text" id="35"></td>
   </tr>


</table>
</div>
	  <canvas id="myChart" width="700" height="300"></canvas>
	 
<script>
function eingabe(){
	var rueckgabe = [];

	/*
	rueckgabe [0] = parseFloat(prompt("Insert the average age of new appointments",""));
	rueckgabe [1] = parseFloat(prompt("Insert the amount of new appointments",""));
	rueckgabe [2] = parseFloat(prompt("Insert the time period you want to consider",""));
	rueckgabe [3] = parseFloat(prompt("Insert the average age of company leavings",""));
	rueckgabe [4] = parseFloat(prompt("Insert the amount of company leavings",""));

	*/

	rueckgabe [0] = parseFloat(document.getElementById("1").value);
	rueckgabe [1] = parseFloat(document.getElementById("2").value);
	rueckgabe [2] = parseFloat(document.getElementById("3").value);
	rueckgabe [3] = parseFloat(document.getElementById("4").value);
	rueckgabe [4] = parseFloat(document.getElementById("5").value);
		
		return rueckgabe;
}



function eingabe1(){
	var rueckgabe1 = [];
	rueckgabe1 [0] = parseFloat(document.getElementById("6").value);
	rueckgabe1 [1] = parseFloat(document.getElementById("7").value);
	rueckgabe1 [2] = parseFloat(document.getElementById("3").value);
	rueckgabe1 [3] = parseFloat(document.getElementById("9").value);
	rueckgabe1 [4] = parseFloat(document.getElementById("10").value);
		
		return rueckgabe1;
}
function eingabe2(){
	var rueckgabe2 = [];
	rueckgabe2 [0] = parseFloat(document.getElementById("11").value);
	rueckgabe2 [1] = parseFloat(document.getElementById("12").value);
	rueckgabe2 [2] = parseFloat(document.getElementById("3").value);
	rueckgabe2 [3] = parseFloat(document.getElementById("14").value);
	rueckgabe2 [4] = parseFloat(document.getElementById("15").value);
		
		return rueckgabe2;
}
function eingabe3(){
	var rueckgabe3 = [];
	rueckgabe3 [0] = parseFloat(document.getElementById("16").value);
	rueckgabe3 [1] = parseFloat(document.getElementById("17").value);
	rueckgabe3 [2] = parseFloat(document.getElementById("3").value);
	rueckgabe3 [3] = parseFloat(document.getElementById("19").value);
	rueckgabe3 [4] = parseFloat(document.getElementById("20").value);
		
		return rueckgabe3;
}
function eingabe4(){
	var rueckgabe4 = [];
	rueckgabe4 [0] = parseFloat(document.getElementById("21").value);
	rueckgabe4 [1] = parseFloat(document.getElementById("22").value);
	rueckgabe4 [2] = parseFloat(document.getElementById("3").value);
	rueckgabe4 [3] = parseFloat(document.getElementById("24").value);
	rueckgabe4 [4] = parseFloat(document.getElementById("25").value);
		
		return rueckgabe4;
}
function eingabe5(){
	var rueckgabe5 = [];
	rueckgabe5 [0] = parseFloat(document.getElementById("26").value);
	rueckgabe5 [1] = parseFloat(document.getElementById("27").value);
	rueckgabe5 [2] = parseFloat(document.getElementById("3").value);
	rueckgabe5 [3] = parseFloat(document.getElementById("29").value);
	rueckgabe5 [4] = parseFloat(document.getElementById("30").value);
		
		return rueckgabe5;
}
function eingabe6(){
	var rueckgabe6 = [];
	rueckgabe6 [0] = parseFloat(document.getElementById("31").value);
	rueckgabe6 [1] = parseFloat(document.getElementById("32").value);
	rueckgabe6 [2] = parseFloat(document.getElementById("3").value);
	rueckgabe6 [3] = parseFloat(document.getElementById("34").value);
	rueckgabe6 [4] = parseFloat(document.getElementById("35").value);
		
		return rueckgabe6;
}
function vertGer(){

	var input = [];
	input = eingabe();
	var alterneu = input [0];
	var anzahlneu = input [1];
	var jahre = input [2];
	var alterweg = input[3];
	var anzahlweg = input [4];

	var jahrestatic = jahre;  
	  var arr = [];
	    for (var a=0; a<19; a++)
	    {
	  		arr[a]=0;
	    }
		  arr [19] = 	0;
	      arr [20] = 	0;
	      arr [21] = 	3;
	      arr [22] = 	7;
	      arr [23] = 	3;
	      arr [24] = 	3;
	      arr [25] = 	3;
	      arr [26] = 	6;
	      arr [27] = 	3;
	      arr [28] = 	3;
	      arr [29] = 	9;
	      arr [30] = 	12;
	      arr [31] = 	19;
	      arr [32] = 	17;
	      arr [33] = 	16;
	      arr [34] = 	20;
	      arr [35] = 	14;
	      arr [36] = 	19;
	      arr [37] = 	26;
	      arr [38] = 	30;
	      arr [39] = 	33;
	      arr [40] =	17;
	      arr [41] = 	26;
	      arr [42] = 	24;
	      arr [43] = 	29;
	      arr [44] = 	26;
	      arr [45] = 	32;
	      arr [46] = 	61;
	      arr [47] = 	60;
	      arr [48] = 	80;
	      arr [49] = 	89;
	      arr [50] = 	108;
	      arr [51] = 	98;
	      arr [52] = 	91;
	      arr [53] = 	107;
	      arr [54] = 	127;
	      arr [55] = 	97;
	      arr [56] = 	88;
	      arr [57] = 	78;
	      arr [58] = 	70;
	      arr [59] = 	45;
	      arr [60] = 	34;
	      arr [61] = 	23;
	      arr [62] = 	22;
	      arr [63] = 	3;
	      arr [64] = 	6;
	      arr [65] = 	3;
	      

	      var arrberechnetcf = [];
	      arrberechnet = berechnen(arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic);
	      arrberechnetcf = arrberechnet;
	      
	      var ergebniscf = ergebnisberechnet(arrberechnetcf);
	  	window.alert(ergebniscf);
/* Ende Corporate Functions */

input = eingabe1();
	var alterneu = input [0];
	var anzahlneu = input [1];
	var jahre = input [2];
	var alterweg = input[3];
	var anzahlweg = input [4];
	
var arr = [];
		for (var afc=0; afc<19; afc++)
		{
		arr[afc]=0;
		}
		arr [19] = 	0;
	      arr [20] = 0;	
	      arr [21] = 0;	
	      arr [22] = 0;	
	      arr [23] = 0;	
	      arr [24] = 0;	
	      arr [25] = 0;	
	      arr [26] = 	3;
	      arr [27] = 0	;
	      arr [28] = 0	;
	      arr [29] = 0	;
	      arr [30] = 	3;
	      arr [31] = 	3;
	      arr [32] = 	3;
	      arr [33] = 	3;
	      arr [34] = 	3;
	      arr [35] = 	3;
	      arr [36] = 	3;
	      arr [37] = 	3;
	      arr [38] = 	3;
	      arr [39] = 	3;
	      arr [40] =	6;
	      arr [41] = 	3;
	      arr [42] = 	3;
	      arr [43] = 	3;
	      arr [44] = 	3;
	      arr [45] = 	3;
	      arr [46] = 	3;
	      arr [47] = 	6;
	      arr [48] = 	6;
	      arr [49] = 	6;
	      arr [50] = 	7;
	      arr [51] = 	3;
	      arr [52] = 	3;
	      arr [53] = 	6;
	      arr [54] = 	3;
	      arr [55] = 	6;
	      arr [56] = 	7;
	      arr [57] = 	3;
	      arr [58] = 	3;
	      arr [59] = 	3;
	      arr [60] = 	3;
	      arr [61] = 	3;
	      arr [62] = 	0;
	      arr [63] = 	0;
	      arr [64] = 	0;
	      arr [65] = 	0;
	        
	      var ursprungfc = [];
	      ursprunghr = arr;
	      var arrberechnetfc = [];
	      arrberechnet = berechnen(arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic);
	      var arrberechnetfc = arrberechnet;
	      var ergebnisfc = ergebnisberechnet(arrberechnetfc);
		  window.alert(ergebnisfc);

/* Ende Finacial Controlling */
 input = eingabe2();
	var alterneu = input [0];
	var anzahlneu = input [1];
	var jahre = input [2];
	var alterweg = input[3];
	var anzahlweg = input [4];
		  var arr = [];
			for (var ahr=0; ahr<19; ahr++)
			{
			arr[ahr]=0;
			}
			arr [19] = 	0;
			arr [20] = 	0;
			arr [21] = 	0;
			arr [22] = 	0;
			arr [23] = 	0;
			arr [24] =	0;
			arr [25] = 	2;
			arr [26] = 	0;
			arr [27] = 	0;
			arr [28] = 	0;
			arr [29] = 	2;
			arr [30] = 	0;
			arr [31] = 	2;
			arr [32] = 	0;
			arr [33] = 	0;
			arr [34] = 	0;
			arr [35] = 	0;
			arr [36] = 	0;
			arr [37] = 	2;
			arr [38] = 	2;
			arr [39] = 	2;
			arr [40] =	2;
			arr [41] = 	0;
			arr [42] = 	2;
			arr [43] = 	2;
			arr [44] = 	0;
			arr [45] = 	2;
			arr [46] = 	2;
			arr [47] = 	0;
			arr [48] = 	2;
			arr [49] = 	2;
			arr [50] = 	2;
			arr [51] = 	0;
			arr [52] = 	2;
			arr [53] = 	2;
			arr [54] = 	2;
			arr [55] = 	2;
			arr [56] = 	2;
			arr [57] = 	2;
			arr [58] = 	0;
			arr [59] = 	0;
			arr [60] = 	0;
			arr [61] = 	0;
			arr [62] = 	0;
			arr [63] = 	0;
			arr [64] = 	2;
			arr [65] = 	0;	   
			
			var ursprunghr = [];
			ursprunghr = arr;
		      var arrberechnethr = [];
		      arrberechnet = berechnen(arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic);
		      var arrberechnethr = arrberechnet;
		      var ergebnishr = ergebnisberechnet(arrberechnethr);
			  window.alert(ergebnishr);

			  /* Ende Human Resources  */
			  
	input = eingabe3();
	var alterneu = input [0];
	var anzahlneu = input [1];
	var jahre = input [2];
	var alterweg = input[3];
	var anzahlweg = input [4];
	
			  var arr = [];
				for (var aict=0; aict<19; aict++)
				{
				arr[aict]=0;
				}
				arr [19] = 	3;
				arr [20] = 	3;
				arr [21] = 	9;
				arr [22] = 	18;
				arr [23] = 	22;
				arr [24] = 	18;
				arr [25] = 	26;
				arr [26] = 	24;
				arr [27] = 	31;
				arr [28] = 	29;
				arr [29] = 	36;
				arr [30] = 	40;
				arr [31] = 	28;
				arr [32] = 	41;
				arr [33] = 	39;
				arr [34] = 	45;
				arr [35] = 	44;
				arr [36] = 	48;
				arr [37] = 	52;
				arr [38] = 	63;
				arr [39] = 	67;
				arr [40] =	79;
				arr [41] = 	78;
				arr [42] = 	77;
				arr [43] = 	71;
				arr [44] = 	79;
				arr [45] = 	95;
				arr [46] = 	114;
				arr [47] = 	154;
				arr [48] = 	193;
				arr [49] = 	186;
				arr [50] = 	231;
				arr [51] = 	260;
				arr [52] = 	216
				arr [53] = 	215;
				arr [54] = 	223;
				arr [55] = 	202;
				arr [56] = 	179;
				arr [57] = 	171;
				arr [58] = 	134;
				arr [59] = 	97;
				arr [60] = 	82;
				arr [61] = 	36;
				arr [62] = 	33;
				arr [63] = 	22;
				arr [64] = 	6;
				arr [65] = 	3;
				
				var ursprungict = [];
				urprungict = arr;
				
			      var arrberechnetict = [];
			      arrberechnet = berechnen(arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic);
			      var arrberechnetict = arrberechnet;
			      var ergebnisict = ergebnisberechnet(arrberechnetict);
				  window.alert(ergebnisict);
				/* Ende ICT */
				
		  input = eingabe4();
			var alterneu = input [0];
			var anzahlneu = input [1];
			var jahre = input [2];
			var alterweg = input[3];
			var anzahlweg = input [4];	
			
			var arr = [];
			for (var arpd=0; arpd<19; arpd++)
			{
			arr[arpd]=0;
			}
			arr [19] = 	3;
			arr [20] = 	3;
			arr [21] = 	0;
			arr [22] = 	0;
			arr [23] = 	3;
			arr [24] = 	0;
			arr [25] = 	3;
			arr [26] = 	0;
			arr [27] = 	3;
			arr [28] = 	3;
			arr [29] = 	0;
			arr [30] = 	0;
			arr [31] = 	3;
			arr [32] = 	0;
			arr [33] = 	0;
			arr [34] = 	3;
			arr [35] = 	3;
			arr [36] = 	3;
			arr [37] = 	3;
			arr [38] = 	3;
			arr [39] = 	3;
			arr [40] =	3;
			arr [41] = 	3;
			arr [42] = 	3;
			arr [43] = 	6;
			arr [44] = 	3;
			arr [45] = 	15;
			arr [46] = 	11;
			arr [47] = 	19;
			arr [48] = 	14;
			arr [49] = 	15;
			arr [50] = 	13;
			arr [51] = 	13;
			arr [52] = 	21;
			arr [53] = 	12;
			arr [54] = 	7;
			arr [55] = 	7;
			arr [56] = 	6;
			arr [57] = 	8;
			arr [58] = 	3;
			arr [59] = 	3;
			arr [60] = 	3;
			arr [61] = 	3;
			arr [62] = 	3;
			arr [63] = 	0;
			arr [64] = 	0;
			arr [65] = 	0;
			
			var ursprungrpd = [];
			ursprungrpd = arr;
			
			 var arrberechnetrpd = [];
		      arrberechnet = berechnen(arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic);
		      var arrberechnetrpd = arrberechnet;
		      var ergebnisrpd = ergebnisberechnet(arrberechnetrpd);
			  window.alert(ergebnisrpd);
			/* Ende RPD */
			
			  input = eingabe5();
				var alterneu = input [0];
				var anzahlneu = input [1];
				var jahre = input [2];
				var alterweg = input[3];
				var anzahlweg = input [4];	
				
				var arr = [];
				for (var arpd=0; arpd<19; arpd++)
				{
				arr[arpd]=0;
				}
				arr [19] = 	0;
				arr [20] = 	0;
				arr [21] = 	0;
				arr [22] = 	3;
				arr [23] = 	3;
				arr [24] = 	3;
				arr [25] = 	3;
				arr [26] = 	3;
				arr [27] = 	3;
				arr [28] = 	3;
				arr [29] = 	3;
				arr [30] = 	3;
				arr [31] = 	3;
				arr [32] = 	6;
				arr [33] = 	3;
				arr [34] = 	6;
				arr [35] = 	3;
				arr [36] = 	8;
				arr [37] = 	10;
				arr [38] = 	9;
				arr [39] = 	3;
				arr [40] =	14;
				arr [41] = 	12;
				arr [42] = 	9;
				arr [43] = 	12;
				arr [44] = 	10;
				arr [45] = 	10;
				arr [46] = 	23;
				arr [47] = 	24;
				arr [48] = 	20;
				arr [49] = 	26;
				arr [50] = 	54;
				arr [51] = 	47;
				arr [52] = 	38;
				arr [53] = 	36;
				arr [54] = 	31;
				arr [55] = 	30;
				arr [56] = 	33;
				arr [57] = 	27;
				arr [58] = 	25;
				arr [59] = 	15;
				arr [60] = 	9;
				arr [61] = 	9;
				arr [62] = 	6;
				arr [63] = 	3;
				arr [64] = 	3;
				arr [65] = 	3;
				
				var ursprungscs = [];
				ursprungscs = arr;
				
				 var arrberechnetscs = [];
			      arrberechnet = berechnen(arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic);
			      var arrberechnetscs = arrberechnet;
			      var ergebnisscs = ergebnisberechnet(arrberechnetscs);
				  window.alert(ergebnisscs);
				/* Ende scs */
				
				  input = eingabe6();
					var alterneu = input [0];
					var anzahlneu = input [1];
					var jahre = input [2];
					var alterweg = input[3];
					var anzahlweg = input [4];	
					
					var arr = [];
					for (var arpd=0; arpd<19; arpd++)
					{
					arr[arpd]=0;
					}
					arr [19] = 	0;
					arr [20] = 	0;
					arr [21] = 	0;
					arr [22] = 	0;
					arr [23] = 	0;
					arr [24] = 	0;
					arr [25] = 	0;
					arr [26] = 	0;
					arr [27] = 	0;
					arr [28] = 	0;
					arr [29] = 	2;
					arr [30] = 	2;
					arr [31] = 	2;
					arr [32] = 	2;
					arr [33] = 	2;
					arr [34] = 	0;
					arr [35] = 	0;
					arr [36] = 	0;
					arr [37] = 	2;
					arr [38] = 	2;
					arr [39] = 	2;
					arr [40] =	0;
					arr [41] = 	2;
					arr [42] = 	0;
					arr [43] = 	2;
					arr [44] = 	2;
					arr [45] = 	2;
					arr [46] = 	0;
					arr [47] = 	2;
					arr [48] = 	2;
					arr [49] = 	2;
					arr [50] = 	2;
					arr [51] = 	2;
					arr [52] = 	2;
					arr [53] = 	2;
					arr [54] = 	2;
					arr [55] = 	2;
					arr [56] = 	2;
					arr [57] = 	2;
					arr [58] = 	2;
					arr [59] = 	0;
					arr [60] = 	0;
					arr [61] = 	0;
					arr [62] = 	0;
					arr [63] = 	0;
					arr [64] = 	0;
					arr [65] = 	0;

					
					var ursprungteandne = [];
					ursprungscs = arr;
					
					 var arrberechnetteandne = [];
				      arrberechnet = berechnen(arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic);
				      var arrberechnetteandne = arrberechnet;
				      var ergebnisteandne = ergebnisberechnet(arrberechnetteandne);
					  window.alert(ergebnisteandne);

			new Chart(document.getElementById("myChart"), {
                type: 'bar',
                data: {
                  labels: ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59','60','61','62','63','64','65'],
                  datasets: [
                    {
                      label: "Corporate Functions",
                      backgroundColor: "blue",
                      data: arrberechnetcf
                    }, {
                      label: "Finance & Controlling",
                      backgroundColor: "pink",
                      data: arrberechnetfc
                    }, {
                      label: "Human Resources",
                      backgroundColor: "yellow",
                      data: arrberechnethr
                    }, {
                      label: "Infromation- & Communication Technology",
                      backgroundColor: "red",
                      data: arrberechnetict
                    }, {
                      label: "Research & Product Development",
                      backgroundColor: "black",
                      data: arrberechnetrpd
                    }, {
                      label: "Sales & Customer Service",
                      backgroundColor: "green",
                      data: arrberechnetscs
                    },{
                      label: "Technology and Networks",
                      backgroundColor: "grey",
                      data: arrberechnetteandne
                    },
                  ]
                },
                options: {
    scales:{
        xAxes: [{
            stacked: true
        }],
        yAxes: [{
        stacked: true
        }]
    }
}
            });
					/* Ende teandne */
	}
	/* Ende Funktion Deutschland */

	function berechnen (arr, alterneu, anzahlneu, alterweg, anzahlweg, jahre, jahrestatic) {
	    var ursprung = arr;
        
        
      	var untergrenze = alterneu - 19;
      	var hilfe = untergrenze * 2 + 1;
		var obergrenze = 65 - alterweg; /* 3 */
      	var hilfeoben = obergrenze * 2 + 1; /* 7 */
		if (isNaN(jahre)) {
				jahre =0;
				}
      		

          //do while schleife zur verteilungsbereichnung
	         do{
	          /* Start Neuzugänge einfügen */  
				if(alterneu < 24)
              {
	               for(var y = alterneu - untergrenze; y<= alterneu + untergrenze; y++)
                 {
		                 arr[y]+=anzahlneu / hilfe;
	               }
               }
                else
                {
                  for(var z = -5; z < 6; z++)
                  {
                    arr[alterneu + z] += anzahlneu / 11;
		                }
	                 }
				/* Ende Neuzugänge einfügen */ 
				/* Start Abgänge entfernen */ 
		                 if(alterweg > 60) /* passt */
              {
	               for(var x = alterweg - obergrenze; x<= alterweg + obergrenze; x++)
                 {
		                 arr[x]-=anzahlweg / hilfeoben;
						 
	               }
               }
                else /* passt */
                {
                  for(var zy = -5; zy < 6; zy++)
                  {
                    arr[alterweg + zy] -= anzahlweg / 11;
					
		                }
	                 }
				/* Ende Abgänge entfernen */	 
			                  if(jahre!=0)
                        {
			                     for (var i = 65; i>=19; i--)
                           {
                             arr[i]= arr[i-1];
                           }
			                      }
		                          jahre--;
	                }
                  while(jahre>0);
				  for(var check = 0; check <73; check++)
				  {
					if(arr[check]<0)
					{
					
						vertGer();
						window.alert("You've removed more people than you have employees in this age sector!");
						break;
					}
				  }


	         
			
			return arr;


			
	}
	function ergebnisberechnet (arrberechnet){
		var anzahl = 0;
      	var multi = 0;
      	var arr2 =[];
      	for (var b=0; b<19; b++){
  		    arr2[b]=0;
      }
      for (var j = 19; j<66; j++)
      {
        anzahl +=arrberechnet[j];
      }
      for (var k = 19; k<66; k++)
      {
        arr2[k]= arrberechnet[k]*k;
      }
      for (var l = 19; l<66; l++)
      {
      multi += arr2[l];
      }
      var ergebnis = multi/anzahl;
		ergebnis = ergebnis.toFixed(2);		
		return ergebnis;
	}
</script>	 
</body>

</html>
